.App {
  text-align: center; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white; }

.App-title {
  font-size: 1.5em; }

.App-intro {
  font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

@media all and (min-width: 601px) {
  .container .container-body {
    width: 80%;
    margin: 0 auto;
    min-height: 450px;
    padding-bottom: 40px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
    margin-top: 25px;
    border-radius: 2px;
    overflow: hidden; }
  .container .container-body main {
    width: 100%;
    margin: 0 auto; } }
